///////////////
//////VARIABLES
///////////////

$fontColor: #000;
$primaryColor: #75d2c1;
$primaryColorActive: #5fc0ae;
$secondaryColor: #b2d180;
$secondaryColorActive: #9aba65;
$redColor: #ea555a;
$borderColor: #cacaca;
$placeHolderColor: #999;


//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition: all .4s ease) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow: $top $left $blur $color;
	-moz-box-shadow: $top $left $blur $color;
	box-shadow: $top $left $blur $color;
}

@mixin text-shadow($top, $left, $blur, $color) {
  -webkit-text-shadow: $top $left $blur $color;
  -moz-text-shadow: $top $left $blur $color;
  text-shadow: $top $left $blur $color;
}

@mixin border($border: 1px solid $borderColor) {
  border: $border
}

@mixin border-rounded($radius: 30px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin absolute-y-center() {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin absolute-x-center() {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin absolute-full-wrapper() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}